$font-primary: 'Noto Serif', serif;

$pink-light: #F29BC3;
$purple-light: #B397DB;
$white: #fff;
$black: #000;
$yellow: #FBE800;
$red: #F33333;
$gray: #EEEEEE;
$degradado: rgba(0, 0, 0, 0.201);
$degradadoTask: rgba(0, 0, 0, 0.08);
$gradiente: linear-gradient( to right, $pink-light 20%, $purple-light);