.Task{
    &-form {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    &-input {
      background-color: $white;
      border-radius: 10px;
      border: none;
      font-size: 18px;
      height: 40px;
      margin: 25px;
      transition: all ease-in-out 0.3s;
      width: 400px;
      padding-left: 15px;

      
    }
  
    &-input:focus {
      background-color: $degradado;
      color: $white;
    }
  
    &-button {
      background-color: transparent;
      border-radius: 5px;
      border: 2px solid transparent;
      color: $white;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 14px;
      outline: none;
      padding: 8px;
      text-transform: capitalize;
      transition: all ease-in-out 0.3s;
      margin-left: 5px;
    }
  
    &-button:hover {
      cursor: pointer;
      border: 2px solid $white;
      opacity: 0.8;
    }
  
    &-icon {
      width: 25px;
      height: 25px;
      margin: 5px;
    }
  
    &-containerlist {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 15px;
    }
  
    &-container {
      align-items: center;
      border: 1px solid $white;
      border-radius: 50px;
      color: $white;
      cursor: pointer;
      display: flex;
      font-size: 22px;
      font-style: italic;
      justify-content: space-between;
      margin: 10px 35px;
      min-height: 65px;
      padding: 8px 15px 8px 20px;
      width: 500px;
      transition: all ease-in-out 0.3s;
    }

    &-container:hover {
      background-color: $degradadoTask;
    }
  
    &-title {
      align-items: center;
      display: flex;
      font-size: 20px;
      height: 100%;
      overflow-wrap: anywhere;
      width: 100%;
  
      &.second{
        color: $white;
        font-size: 30px;
        padding:  20px 0;
        text-align: start;
      }
  
      &.second:after {
        background: $black;
        content: '';
        display: block;
        height: 2px;
        margin: 5px 2px 0px 2px;
        margin-top: 5px;
        width: 580px;
      }
    }
  }
  